force-app/main/default/flows/Account_Screen_Flow_Add_Extra_Work_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Quote</name>
        <label>Open Quote</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <actionName>c:openRecordFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>quoteRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:openRecordFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Quote_Values_for_ATAK_Project_Req</name>
        <label>Set Quote Values for ATAK Project Req</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>quoteRecord.ATAK_Project_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.ATAK_Project_Request_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.ATAK_Project_Request_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_specific_comments_for_this_project_request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.ATAK_Project_Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Values_no_Pricing_Req</name>
        <label>Set Quote Values no Pricing Req</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>quoteRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityNameCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.QuoteAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expected_Work_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Extra_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_a_description_of_the_extra_work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Service_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceContractTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extra Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Document_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Offer_Valid_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offer_Validity_in_months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Our_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Our_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Customer_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Additional_Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Remarks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Adjustable_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustable_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Adjustment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecord.Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ATAK_Project_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stamp_ATAK_Project</name>
        <label>Stamp ATAK Project</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>quoteRecord.ATAK_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_ATAK_Project.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ATAK_Project_Needed</name>
        <label>ATAK Project Needed</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_ATAK_Project.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_ATAK_Project</targetReference>
            </connector>
            <label>Project Selected</label>
        </rules>
        <rules>
            <name>Project_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_ATAK_Project.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Values_for_ATAK_Project_Req</targetReference>
            </connector>
            <label>Project Requested</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AdjustmentPeriod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Adjustment_Period__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LanguageChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Language__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricingRequestPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Price_Request_Priority__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>servicePackageType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Package__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkSizeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Size__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityNameCalculation</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Details.Name} &amp;&apos; - Extra Work&apos;&amp;&apos; - &apos;&amp;TEXT({!Expected_Work_Date})</expression>
    </formulas>
    <interviewLabel>[Account][Screen-Flow] Add Extra Work Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Account][Screen-Flow] Add Extra Work Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Create_Quote_Products</targetReference>
        </connector>
        <inputReference>quoteRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Products</name>
        <label>Create Quote Products</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Open_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Please_provide_a_description_of_the_extra_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>quoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extra Work</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PricingScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Price_Book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XTRA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quick_Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Contracts</name>
        <label>Get Service Contracts</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Extra_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Extra_Work</name>
        <label>Add Extra Work</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <fields>
            <name>ExtraWorkTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Add Extra Work&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Create a fast-track Opportunity and Quote for your smaller extra work.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Extra_Work_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Extra_Work_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_Work_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Expected Work Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Extra_Work_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_provide_a_description_of_the_extra_work</name>
                    <fieldText>Please provide a description of the extra work</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ServiceContractTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceContract</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Service_Contracts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5617&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contract Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-996f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contract_type__c&quot;,&quot;guid&quot;:&quot;column-efcd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Contract type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-d462&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Additional_Work_in_scope_contract__c&quot;,&quot;guid&quot;:&quot;column-e54f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Additional Work in scope contract&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Atak_Project</name>
        <label>Atak Project</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Quote_Values_no_Pricing_Req</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ExtraWorkTitleScreen2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Add Extra Work&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select an existing ATAK Project or request a new ATAK Project creation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Atak_Project_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Atak_Project_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_ATAK_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Request New Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <elementReference>Yes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <elementReference>No</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Existing_ATAK_Project</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ATAK_Projectx__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing ATAK Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_ATAK_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Atak_Project_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>warning</name>
                    <fieldText>&lt;p&gt;The ATAK Project creation will be requested only &lt;/p&gt;&lt;p&gt;&lt;strong&gt;after the customer accepts the quote.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_ATAK_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Atak_Project_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Atak_Project_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>Low</choiceReferences>
                    <choiceReferences>Medium</choiceReferences>
                    <choiceReferences>High</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Medium</defaultSelectedChoiceReference>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Any_specific_comments_for_this_project_request</name>
                    <dataType>String</dataType>
                    <fieldText>Any specific comments for this project request?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Atak_Project_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Package_Type</name>
                    <choiceReferences>servicePackageType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Service Package Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Used to generate a suggested project name&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_ATAK_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Extra Work</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PricingScreen</name>
        <label>Pricing</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Quote_PDF_Administrion</targetReference>
        </connector>
        <fields>
            <name>ExtraWorkTitleScreen2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Add Extra Work&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Define the pricing or pricing request need.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PricingScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PricingScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Sales Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;You can&apos;t make a quick quote with a value superior to 5000€.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Unit_Price}&lt;=5000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PricingScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Any_additional_comments</name>
                    <dataType>String</dataType>
                    <fieldText>Any additional comments?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_PDF_Administrion</name>
        <label>Quote PDF Administrion</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Atak_Project</targetReference>
        </connector>
        <fields>
            <name>AdministrativeTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Quote Document Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Define the necessary dynamic fields for the creation of the Quote PDF.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quote_PDF_Administrion_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_PDF_Administrion_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Language</name>
                    <choiceReferences>LanguageChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Dutch</stringValue>
                    </defaultValue>
                    <fieldText>Document Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_PDF_Administrion_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ContactId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Quote Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_PDF_Administrion_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Offer_Validity_in_months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Offer Validity (in months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AdministrativeDetailsTitle</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Administrative Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quote_PDF_Administrion_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_PDF_Administrion_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Our_Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Our Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_PDF_Administrion_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Customer Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityNameCalculation</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Remarks</name>
            <fieldText>Additional Remarks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PricingDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Pricing Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quote_PDF_Administrion_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_PDF_Administrion_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Adjustable_Price</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Adjustable Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Adjustment_Period</name>
                    <choiceReferences>AdjustmentPeriod</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Adjustment Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Adjustable_Price</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_PDF_Administrion_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Term</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>30.0</numberValue>
                    </defaultValue>
                    <fieldText>Payment Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreatedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
