force-app/main/default/flows/ATAK_Project_After_Save_Record_Triggered_Set_Territory_And_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>[ATAK Project][After-Save][Record-Triggered] Populate Van Crew Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ATAK Project][After-Save][Record-Triggered] Set Territory And Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_from_Site_Manager_Code.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_from_Site_Manager_Code</name>
        <label>Get User from Site Manager Code</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATAK_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site_Manager_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fields</name>
        <label>Set Fields</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_from_Site_Manager_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_from_Site_Manager_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ATAK_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
