force-app/main/default/flows/ContractLineItem_After_Save_Add_Default_Financial_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContractLineFinancialAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractLineFinancialAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Retrieved_Project_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contract_Line_Account</name>
        <label>Set Contract Line Account</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ContractLineFinancialAccount.Contract_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineFinancialAccount.Financial_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Retrieved_Project_Accounts.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractLineFinancialAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Retrieved_Project_Accounts.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[ContractLineItem] - [After Save] - Add Default Financial Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ContractLineItem] - [After Save] - Add Default Financial Accounts</label>
    <loops>
        <name>Loop_Retrieved_Project_Accounts</name>
        <label>Loop Retrieved Project Accounts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Atak_Financial_Customers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contract_Line_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>ContractLineFinancialAccountCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Atak_Financial_Customers</name>
        <label>Get Atak Financial Customers</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Retrieved_Project_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATAK_Project_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ATAK_Project_Financial_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Atak_Financial_Customers</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; {!$Record.Project_Code__c} != &apos;&apos;) ||
(ISCHANGED({!$Record.Project_Code__c}) &amp;&amp; {!$Record.Project_Code__c} != &apos;&apos;)</filterFormula>
        <object>ContractLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractLineFinancialAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Financial_Account__c</objectType>
    </variables>
    <variables>
        <name>ContractLineFinancialAccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Line_Financial_Account__c</objectType>
    </variables>
</Flow>
