force-app/main/default/flows/Opportunity_Scheduled_Flow_Reminders_for_Deadlines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Location_Visit_Custom_Notification</name>
        <label>Location Visit Custom Notification</label>
        <locationX>138</locationX>
        <locationY>3564</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Location_Visit_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIdsLocationVisit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AlertLocationVisit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AlertLocationVisit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_Through_Location.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_Action_1</name>
        <label>Send Custom Notification Action 1</label>
        <locationX>162</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Internal_Validation_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIdsInternalValidation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AlertInternalValidation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AlertInternalValidation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_Through_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_QA</name>
        <label>Send Email QA</label>
        <locationX>162</locationX>
        <locationY>1824</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Remove_Recipient_Id_QA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_QA.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>QASubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>QABody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Submission_Deadline</name>
        <label>Send Email Submission Deadline</label>
        <locationX>162</locationX>
        <locationY>2748</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Remove_Recipient_Id_Submission</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Submission.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubmissionSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SubmissionBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Internal_Validation_email</name>
        <label>Send Internal Validation email</label>
        <locationX>162</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Remove_Recipient_Id_Internal_Validation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Opportunities.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InternalValidationSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InternalValidationEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Location_Visit_Email</name>
        <label>Send Location Visit Email</label>
        <locationX>138</locationX>
        <locationY>3672</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Remove_Recipient_Id_Location_Visit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Through_Location.Visitor_Internal__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>LocationVisitSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LocationVisitBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_QA_Deadline_Notification</name>
        <label>Send QA Deadline Notification</label>
        <locationX>162</locationX>
        <locationY>1716</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_QA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIdsQA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AlertQA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AlertQA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_Through_QA.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Submission_Notification</name>
        <label>Send Submission Notification</label>
        <locationX>162</locationX>
        <locationY>2640</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_Email_Submission_Deadline</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIdsSubmission</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AlertSubmission</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AlertSubmission</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_Through_Submission.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Id_Internal_Validation</name>
        <label>Assign Recipient Id Internal Validation</label>
        <locationX>162</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsInternalValidation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Id_Location_Visit</name>
        <label>Assign Recipient Id Location Visit</label>
        <locationX>138</locationX>
        <locationY>3456</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsLocationVisit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Location.Visitor_Internal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Visit_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Id_QA</name>
        <label>Assign Recipient Id QA</label>
        <locationX>162</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsQA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_QA.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_QA_Deadline_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Id_Submission</name>
        <label>Assign Recipient Id Submission</label>
        <locationX>162</locationX>
        <locationY>2532</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsSubmission</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Submission.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Submission_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_Id_Internal_Validation</name>
        <label>Remove Recipient Id Internal Validation</label>
        <locationX>162</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsInternalValidation</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Through_Opportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_Id_Location_Visit</name>
        <label>Remove Recipient Id Location Visit</label>
        <locationX>138</locationX>
        <locationY>3780</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsLocationVisit</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Through_Location.Visitor_Internal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_Id_QA</name>
        <label>Remove Recipient Id QA</label>
        <locationX>162</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsQA</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Through_QA.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_QA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Recipient_Id_Submission</name>
        <label>Remove Recipient Id Submission</label>
        <locationX>162</locationX>
        <locationY>2856</locationY>
        <assignmentItems>
            <assignToReference>RecipientIdsSubmission</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Through_Submission.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Submission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Found_QA_Date</name>
        <label>Record Found QA Date</label>
        <locationX>182</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunities_Submission_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities_QA_Date</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_QA</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_Internal_Validation_Date</name>
        <label>Records Found Internal Validation Date</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunities_QA_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities_Internal_Validation_Date</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opportunities</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_Location_Visit</name>
        <label>Records Found Location Visit</label>
        <locationX>182</locationX>
        <locationY>3240</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Visit_Date</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Location</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found_Submission_Date</name>
        <label>Records Found Submission Date</label>
        <locationX>182</locationX>
        <locationY>2316</locationY>
        <defaultConnector>
            <targetReference>Get_Location_Visit_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities_Submission_Date</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Submission</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AlertInternalValidation</name>
        <dataType>String</dataType>
        <expression>&quot;Internal Validation Deadline Alert - &quot;&amp;{!Loop_Through_Opportunities.Name}</expression>
    </formulas>
    <formulas>
        <name>AlertLocationVisit</name>
        <dataType>String</dataType>
        <expression>&quot;Location Visit Deadline Alert - &quot;&amp;{!Loop_Through_Location.Name}</expression>
    </formulas>
    <formulas>
        <name>AlertQA</name>
        <dataType>String</dataType>
        <expression>&quot;Q&amp;A Deadline Alert - &quot;&amp;{!Loop_Through_QA.Name}</expression>
    </formulas>
    <formulas>
        <name>AlertSubmission</name>
        <dataType>String</dataType>
        <expression>&quot;Submission Deadline Alert - &quot;&amp;{!Loop_Through_Submission.Name}</expression>
    </formulas>
    <formulas>
        <name>InternalValidationCurrentItemOwner</name>
        <dataType>String</dataType>
        <expression>{!Loop_Through_Opportunities.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>TodayDateTimePlus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>TodayPlus1</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>TodayPlus2</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <interviewLabel>[Opportunity][Scheduled-Flow] Reminders for Deadlines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity][Scheduled-Flow] Reminders for Deadlines</label>
    <loops>
        <name>Loop_Through_Location</name>
        <label>Loop Through Location</label>
        <locationX>50</locationX>
        <locationY>3348</locationY>
        <collectionReference>Get_Location_Visit_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipient_Id_Location_Visit</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>74</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Opportunities_Internal_Validation_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipient_Id_Internal_Validation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunities_QA_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_QA</name>
        <label>Loop Through QA</label>
        <locationX>74</locationX>
        <locationY>1500</locationY>
        <collectionReference>Get_Opportunities_QA_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipient_Id_QA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opportunities_Submission_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Submission</name>
        <label>Loop Through Submission</label>
        <locationX>74</locationX>
        <locationY>2424</locationY>
        <collectionReference>Get_Opportunities_Submission_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Recipient_Id_Submission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Location_Visit_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_Visit_Date</name>
        <label>Get Location Visit Date</label>
        <locationX>182</locationX>
        <locationY>3132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found_Location_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit_Date_date_only__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayPlus1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities_Internal_Validation_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deadlines</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all opportunities where the internal validation date is in 2 days</description>
        <name>Get_Opportunities_Internal_Validation_Date</name>
        <label>Get Opportunities Internal Validation Date</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found_Internal_Validation_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_validation_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayPlus2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities_QA_Date</name>
        <label>Get Opportunities QA Date</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found_QA_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Q_A__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayPlus2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities_Submission_Date</name>
        <label>Get Opportunities Submission Date</label>
        <locationX>182</locationX>
        <locationY>2208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found_Submission_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Date_date_only__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayPlus1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-31</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>InternalValidationEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is to remind you that the Opportunity &lt;strong&gt;{!Loop_Through_Opportunities.Name} &lt;/strong&gt;has an Internal Validation date deadline set to &lt;strong&gt;{!Loop_Through_Opportunities.Internal_validation_date__c}&lt;/strong&gt;. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make sure everything is ready for this deadline.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InternalValidationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Internal Validation Deadline - {!Loop_Through_Opportunities.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>LocationVisitBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is to remind you that the Location Visit for &lt;strong&gt;{!Loop_Through_Location.Name}&lt;/strong&gt; has a Visit date set to &lt;strong&gt;{!Loop_Through_Location.Visit_Date_date_only__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make sure everything is ready for this deadline.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LocationVisitSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Location Visit Date - {!Loop_Through_Location.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>QABody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is to remind you that the Opportunity &lt;strong&gt;{!Loop_Through_QA.Name} &lt;/strong&gt;has a Q&amp;amp;A date deadline set to &lt;strong&gt;{!Loop_Through_QA.Q_A__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make sure everything is ready for this deadline.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>QASubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Q&amp;A Deadline - {!Loop_Through_QA.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is to remind you that the Opportunity &lt;strong&gt;{!Loop_Through_Submission.Name} &lt;/strong&gt;has a Submission date deadline set to &lt;strong&gt;{!Loop_Through_Submission.Submission_Date_date_only__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make sure everything is ready for this deadline.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Submission Deadline - {!Loop_Through_Submission.Name}</text>
    </textTemplates>
    <variables>
        <name>RecipientIdsInternalValidation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIdsLocationVisit</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIdsQA</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIdsSubmission</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
