force-app/main/default/flows/Platform_Event_Reorder_Work_Steps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Identify_Next_Number</name>
        <label>Identify Next Number</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>LastWOLNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Next_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Execution_Number</name>
        <label>Increment Execution Number</label>
        <locationX>264</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>LastWOLNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Last_Work_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Last_Work_Steps</name>
        <label>Set Values for Last Work Steps</label>
        <locationX>264</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>WorkStepRecord.ExecutionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastWOLNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Last_Work_Steps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkStepRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Execution_Number</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Platform-Event] Reorder Work Steps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Platform-Event] Reorder Work Steps</label>
    <loops>
        <name>Loop_Through_Last_Work_Steps</name>
        <label>Loop Through Last Work Steps</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <collectionReference>LastWorkStepsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values_for_Last_Work_Steps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Last_Work_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Last_Work_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExecutionOrder</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>LastWOLNumber</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>LastWorkStepsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExecutionOrder</queriedFields>
        <sortField>ExecutionOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Work_Steps</name>
        <label>Update Last Work Steps</label>
        <locationX>176</locationX>
        <locationY>794</locationY>
        <inputReference>WorkStepCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_Next_Number</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Reorder_Work_Step__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>LastWOLNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LastWorkStepsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WorkStepCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
