force-app/main/default/flows/Quote_Gantt_Action_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_New_Work_Order_Values</name>
        <label>Set New Work Order Values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>newWorkOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.MaintenancePlanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.WorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.SuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.SuggestedMaintenanceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.ServiceContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.LMRA_Type_formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.LMRA_Type_formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.Check_In_At_Work_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Check_In_At_Work_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.Special_Equipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Special_Equipment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newWorkOrder.Check_In_At_Work_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Check_In_At_Work_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Scheduled_Start_and_End</name>
        <label>Set Scheduled Start and End</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Service_Appointment_of_New_Work_Order.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_to_Schedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Service_Appointment_of_New_Work_Order.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Quote] - [Gantt Action] - Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] - [Gantt Action] - Clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>Get_Service_Appointment_of_New_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Crew.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_of_New_Work_Order</targetReference>
        </connector>
        <inputReference>newWorkOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Service_Appoinment</name>
        <label>Get Original Service Appoinment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment_of_New_Work_Order</name>
        <label>Get Service Appointment of New Work Order</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Scheduled_Start_and_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newWorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Work_Order_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Service_Appoinment.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Service_Appointment</name>
        <label>Update New Service Appointment</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </connector>
        <inputReference>Get_Service_Appointment_of_New_Work_Order</inputReference>
    </recordUpdates>
    <screens>
        <name>Clone_Work_Order</name>
        <label>Clone Work Order</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <fields>
            <name>Clone_Work_Order_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clone_Work_Order_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Crew</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ServiceResourceId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Resource</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AssignedResource</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Time_to_Schedule</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Service_Appoinment.SchedStartTime</elementReference>
                    </defaultValue>
                    <fieldText>Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clone_Work_Order_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newWorkOrder.Subject</objectFieldReference>
                </fields>
                <fields>
                    <name>End</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Original_Service_Appoinment.SchedEndTime</elementReference>
                    </defaultValue>
                    <fieldText>End</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Original_Service_Appoinment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
