force-app/main/default/flows/Quote_After_Save_Create_Work_Order_on_Acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Work_Order_Initial_Values</name>
        <label>Set Work Order Initial Values</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>extraWorkOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.ServiceContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QuoteAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unscheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ATAK_Project__r.Service_Territory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.SuggestedMaintenanceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extraWorkOrder.MaintenancePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Maintenance_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>assetName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>[Quote] - [After-Save] - Create Work Order on Acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] - [After-Save] - Create Work Order on Acceptance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Set_Work_Order_Initial_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>ATAK_Project__c</field>
            <value>
                <elementReference>$Record.ATAK_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.QuoteAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>assetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Extra_Work_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Territory__c</field>
            <value>
                <elementReference>$Record.Opportunity.ATAK_Projectx__r.Service_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>extraWorkOrder</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line</name>
        <label>Create Work Order Line</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Quote_Line_Items.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Quote_Line_Items.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>extraWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Extra_Work_Product</name>
        <label>Get Extra Work Product</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extra Work</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Plan</name>
        <label>Get Maintenance Plan</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Extra_Work_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Random_Child_of_Parent_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MaintenancePlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Work_Type</name>
        <label>Get Product Work Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Random_Child_of_Parent_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extra Work</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Random_Child_of_Parent_Contract</name>
        <label>Get Random Child of Parent Contract</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Maintenance_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Work_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Execution</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extraLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>extraWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
