force-app/main/default/flows/Resource_Absence_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Code_ATAK</name>
        <label>Code ATAK</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Code_ATAK_Limbus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ATAK_Codes</targetReference>
            </connector>
            <label>Needs Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedATAKCode</name>
        <dataType>String</dataType>
        <expression>CASE($Record.Type, 
    &quot;Frost Delay&quot;, &quot;VV&quot;, 
    &quot;Industrial Accident&quot;, &quot;HR&quot;,
    &quot;Illness&quot;,  &quot;HR&quot;,
    &quot;Recup Overtime&quot;, &quot;SP&quot;,
    &quot;Absent Hours&quot;, &quot;HR&quot;,
    &quot;&quot;
  )</expression>
    </formulas>
    <formulas>
        <name>CalculatedSoccode</name>
        <dataType>String</dataType>
        <expression>CASE($Record.Type, 
    &quot;Frost Delay&quot;, &quot;9720&quot;, 
    &quot;Industrial Accident&quot;, &quot;&quot;,
    &quot;Illness&quot;,  &quot;&quot;,
    &quot;Recup Overtime&quot;, &quot;4025&quot;,
    &quot;Absent Hours&quot;, &quot;&quot;,
    &quot;&quot;
  )</expression>
    </formulas>
    <interviewLabel>Resource Absence - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Absence - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ATAK_Codes</name>
        <label>Update ATAK Codes</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Code_ATAK_Limbus__c</field>
            <value>
                <elementReference>CalculatedATAKCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soccode__c</field>
            <value>
                <elementReference>CalculatedSoccode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Code_ATAK</targetReference>
        </connector>
        <object>ResourceAbsence</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
