force-app/main/default/flows/ResourceAbsence_After_Delete_Set_Total_Absence_Time_on_TimeSheet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Minutes</name>
        <label>Add Minutes</label>
        <locationX>264</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>totalDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>absenceDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Retrieved_Timesheets</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>absenceDuration</name>
        <dataType>Number</dataType>
        <expression>IF (ISBLANK({!Loop_Retrieved_Timesheets.Start}), 0, ({!Loop_Retrieved_Timesheets.End}- {!Loop_Retrieved_Timesheets.Start})*24*60)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[ResourceAbsence] - After Delete - Set Total Absence Time on TimeSheet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ResourceAbsence] - After Delete - Set Total Absence Time on TimeSheet</label>
    <loops>
        <name>Loop_Retrieved_Timesheets</name>
        <label>Loop Retrieved Timesheets</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_All_Absences_for_Timesheet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Minutes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Timesheet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Absences_for_Timesheet</name>
        <label>Get All Absences for Timesheet</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Retrieved_Timesheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Time_Sheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Time_Sheet__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Timesheet</name>
        <label>Update Timesheet</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Time_Sheet__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Break_and_Absent_Time_Minutes__c</field>
            <value>
                <elementReference>totalDuration</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Absences_for_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Time_Sheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>totalDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
