force-app/main/default/flows/Service_Appointment_Scheduled_Customer_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>REScheduled_WO_Send_ENG_mail</name>
        <label>REScheduled WO - Send ENG mail</label>
        <locationX>1634</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ENG_REPlanned_WO.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REScheduled_WO_Send_ENG_mail_Day</name>
        <label>REScheduled WO - Send ENG mail Day</label>
        <locationX>1898</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ENG_REPlanned_WO_Day.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REScheduled_WO_Send_FR_mail</name>
        <label>REScheduled WO - Send FR mail</label>
        <locationX>578</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_FR_REPlanned_WO.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REScheduled_WO_Send_FR_mail_Day</name>
        <label>REScheduled WO - Send FR mail Day</label>
        <locationX>842</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_FR_REPlanned_WO_Day.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REScheduled_WO_Send_NL_mail</name>
        <label>REScheduled WO - Send NL mail</label>
        <locationX>2690</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_NL_REPlanned_WO.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>REScheduled_WO_Send_NL_mail_Day</name>
        <label>REScheduled WO - Send NL mail Day</label>
        <locationX>2954</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_NL_REPlanned_WO_Day.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_WO_Send_ENG_mail</name>
        <label>Scheduled WO - Send ENG mail</label>
        <locationX>1106</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ENG_Planned_WO.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_WO_Send_ENG_mail_Day</name>
        <label>Scheduled WO - Send ENG mail Day</label>
        <locationX>1370</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_ENG_Planned_WO_Day.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_WO_Send_FR_mail</name>
        <label>Scheduled WO - Send FR mail</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_FR_Planned_WO.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_WO_Send_FR_mail_Day</name>
        <label>Scheduled WO - Send FR mail Day</label>
        <locationX>314</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_FR_Planned_WO_Day.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_WO_Send_NL_mail</name>
        <label>Scheduled WO - Send NL mail</label>
        <locationX>2162</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_NL_Planned_WO.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Scheduled_WO_Send_NL_mail_Day</name>
        <label>Scheduled WO - Send NL mail Day</label>
        <locationX>2426</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info@upeoconsulting.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>{!Get_Contacts.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_NL_Planned_WO_Day.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_email_Recipients</name>
        <label>Assign email Recipients</label>
        <locationX>2360</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Contact_with_Email_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Language</name>
        <label>Contact Language</label>
        <locationX>1502</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>First_send_or_Resend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NL</defaultConnectorLabel>
        <rules>
            <name>FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_send_or_Resend_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ENG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_send_or_Resend_ENG</targetReference>
            </connector>
            <label>ENG</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_send_or_Resend</name>
        <label>First send or Resend</label>
        <locationX>2558</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Week_OR_Exact_Day6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resend</defaultConnectorLabel>
        <rules>
            <name>First_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scheduling_Notification_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Week_OR_Exact_Day5</targetReference>
            </connector>
            <label>First Send</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_send_or_Resend_ENG</name>
        <label>First send or Resend ENG</label>
        <locationX>1502</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Week_OR_Exact_Day4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resend</defaultConnectorLabel>
        <rules>
            <name>First_SendENG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scheduling_Notification_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Week_OR_Exact_Day3</targetReference>
            </connector>
            <label>First Send</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_send_or_Resend_FR</name>
        <label>First send or Resend FR</label>
        <locationX>446</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Week_OR_Exact_Day2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resend</defaultConnectorLabel>
        <rules>
            <name>First_SendFR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scheduling_Notification_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Week_OR_Exact_Day</targetReference>
            </connector>
            <label>First Send</label>
        </rules>
    </decisions>
    <decisions>
        <name>Week_OR_Exact_Day</name>
        <label>Week OR Exact Day</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_FR_Planned_WO_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Day</defaultConnectorLabel>
        <rules>
            <name>Week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Intervention_registration_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week of Excecution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_FR_Planned_WO</targetReference>
            </connector>
            <label>Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Week_OR_Exact_Day2</name>
        <label>Week OR Exact Day</label>
        <locationX>710</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_FR_REPlanned_WO_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Day</defaultConnectorLabel>
        <rules>
            <name>Week2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Intervention_registration_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week of Excecution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_FR_REPlanned_WO</targetReference>
            </connector>
            <label>Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Week_OR_Exact_Day3</name>
        <label>Week OR Exact Day</label>
        <locationX>1238</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_ENG_Planned_WO_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Day</defaultConnectorLabel>
        <rules>
            <name>Week3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Intervention_registration_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week of Excecution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_ENG_Planned_WO</targetReference>
            </connector>
            <label>Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Week_OR_Exact_Day4</name>
        <label>Week OR Exact Day</label>
        <locationX>1766</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_ENG_REPlanned_WO_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Day</defaultConnectorLabel>
        <rules>
            <name>Week4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Intervention_registration_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week of Excecution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_ENG_REPlanned_WO</targetReference>
            </connector>
            <label>Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Week_OR_Exact_Day5</name>
        <label>Week OR Exact Day</label>
        <locationX>2294</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_NL_Planned_WO_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Day</defaultConnectorLabel>
        <rules>
            <name>Week5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Intervention_registration_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week of Excecution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_NL_Planned_WO</targetReference>
            </connector>
            <label>Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Week_OR_Exact_Day6</name>
        <label>Week OR Exact Day</label>
        <locationX>2822</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_NL_REPlanned_WO_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Day</defaultConnectorLabel>
        <rules>
            <name>Week6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Intervention_registration_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Week of Excecution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_NL_REPlanned_WO</targetReference>
            </connector>
            <label>Week</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Contact_with_Email_Found</name>
        <label>Work Order &amp; Contact with Email Found?</label>
        <locationX>2360</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Language</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow that sends notification to customer when a service appointment is (re)scheduled</description>
    <environments>Default</environments>
    <interviewLabel>[Service Appointment] [Scheduled] Customer Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Service Appointment] [Scheduled] Customer Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Relation</name>
        <label>Get Contact Relation</label>
        <locationX>2360</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Operational_SPOC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_work_Order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>2360</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_email_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Relation.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_ENG_Planned_WO</name>
        <label>Get Email Template ENG Planned WO</label>
        <locationX>1106</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduled_WO_Send_ENG_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Scheduled_WO_ENG_1732012994513</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_ENG_Planned_WO_Day</name>
        <label>Get Email Template ENG Planned WO Day</label>
        <locationX>1370</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduled_WO_Send_ENG_mail_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Scheduled_WO_Day_ENG_1736149425060</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_ENG_REPlanned_WO</name>
        <label>Get Email Template ENG REPlanned WO</label>
        <locationX>1634</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>REScheduled_WO_Send_ENG_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_REScheduled_WO_ENG_1732012846597</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_ENG_REPlanned_WO_Day</name>
        <label>Get Email Template ENG REPlanned WO Day</label>
        <locationX>1898</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>REScheduled_WO_Send_ENG_mail_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>	 Notification_REScheduled_WO_Day_ENG_1736149508891</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_FR_Planned_WO</name>
        <label>Get Email Template FR Planned WO</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduled_WO_Send_FR_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Scheduled_WO_FR_1732000418709</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_FR_Planned_WO_Day</name>
        <label>Get Email Template FR Planned WO Day</label>
        <locationX>314</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduled_WO_Send_FR_mail_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Scheduled_WO_Day_FR_1736149406556</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_FR_REPlanned_WO</name>
        <label>Get Email Template FR REPlanned WO</label>
        <locationX>578</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>REScheduled_WO_Send_FR_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_REScheduled_WO_FR_1732001152863</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_FR_REPlanned_WO_Day</name>
        <label>Get Email Template FR REPlanned WO Day</label>
        <locationX>842</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>REScheduled_WO_Send_FR_mail_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_REScheduled_WO_Day_FR_1736149468755</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_NL_Planned_WO</name>
        <label>Get Email Template NL Planned WO</label>
        <locationX>2162</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduled_WO_Send_NL_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Planned_WO_NL_1731941363446</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_NL_Planned_WO_Day</name>
        <label>Get Email Template NL Planned WO Day</label>
        <locationX>2426</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scheduled_WO_Send_NL_mail_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Scheduled_WO_Day_NL_1736149375605</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_NL_REPlanned_WO</name>
        <label>Get Email Template NL REPlanned WO</label>
        <locationX>2690</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>REScheduled_WO_Send_NL_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_REScheduled_WO_NL_1732001423106</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_NL_REPlanned_WO_Day</name>
        <label>Get Email Template NL REPlanned WO Day</label>
        <locationX>2954</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>REScheduled_WO_Send_NL_mail_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_REScheduled_WO_Day_NL_1736149449990</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_work_Order</name>
        <label>Get Work Order</label>
        <locationX>2360</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1502</locationX>
        <locationY>1584</locationY>
        <inputAssignments>
            <field>Scheduling_Notification_Send__c</field>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_work_Order</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR (1 AND 3 AND 5)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notification_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Intervention_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Notification_Send__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Send</stringValue>
            </value>
        </filters>
        <filters>
            <field>Scheduling_Notification_Send__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resend Needed</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-20</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
