force-app/main/default/flows/Time_Sheet_Entry_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Code_ATAK</name>
        <label>Code ATAK</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Break_Record_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_or_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Code_ATAK_Limbus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Allowance_Winter_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Urgent_Intervention__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ATAK_Code</targetReference>
            </connector>
            <label>Is Empty or Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Break</name>
        <label>Is there a Break?</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Break.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Time_Sheet_Entry_with_Break</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow is configured to update and fill in some data automatically on Time Sheet Entries</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateATAKCode</name>
        <dataType>String</dataType>
        <expression>IF($Record.Urgent_Intervention__c, &quot;URG&quot;, 
  CASE($Record.Type, 
    &quot;Normal Hours&quot;, &quot;HR&quot;, 
    &quot;Travel Time&quot;, &quot;HR&quot;,
    &quot;Night Work&quot;, 
      IF($Record.Starting_Allowance_Winter_Service__c, &quot;P&quot;, &quot;NW&quot;),
    &quot;Machines&quot;, &quot;MU&quot;,
    &quot;Frost Delay&quot;, &quot;VV&quot;, 
    &quot;Industrial Accident&quot;, &quot;HR&quot;,
    &quot;Illness&quot;,  &quot;HR&quot;,
    &quot;Recup Overtime&quot;, &quot;SP&quot;,
    &quot;Absent Hours&quot;, &quot;HR&quot;,
    &quot;&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <name>CalculatedSoccode</name>
        <dataType>String</dataType>
        <expression>IF($Record.Urgent_Intervention__c, &quot;&quot;, 
  CASE($Record.Type, 
    &quot;Normal Hours&quot;, &quot;1010&quot;, 
    &quot;Travel Time&quot;, &quot;1010&quot;,
    &quot;Night Work&quot;, 
      IF($Record.Starting_Allowance_Winter_Service__c, &quot;1710&quot;, &quot;1706&quot;),
    &quot;Machines&quot;, &quot;&quot;,
    &quot;Frost Delay&quot;, &quot;9720&quot;, 
    &quot;Industrial Accident&quot;, &quot;&quot;,
    &quot;Illness&quot;,  &quot;&quot;,
    &quot;Recup Overtime&quot;, &quot;4025&quot;,
    &quot;Absent Hours&quot;, &quot;&quot;,
    &quot;&quot;
  )
)</expression>
    </formulas>
    <interviewLabel>Time Sheet Entry - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Time Sheet Entry] - [Before-Save] - [Record-Triggered]</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Break</name>
        <label>Get Break</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Break</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TimeSheet.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Break_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.StartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>End</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EndTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Break_Record_Type_ID</name>
        <label>Get Break Record Type ID</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Break</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Break</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ATAK_Code</name>
        <label>Update ATAK Code</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Get_Break_Record_Type_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Code_ATAK_Limbus__c</field>
            <value>
                <elementReference>CalculateATAKCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soccode__c</field>
            <value>
                <elementReference>CalculatedSoccode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet_Entry_with_Break</name>
        <label>Update Time Sheet Entry with Break</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Resource_Absence__c</field>
            <value>
                <elementReference>Get_Break.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Code_ATAK</targetReference>
        </connector>
        <object>TimeSheetEntry</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
