force-app/main/default/flows/TimeSheet_Record_Trigger_Set_Contract_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Working_Hours_in_Contract</name>
        <label>Set Working Hours in Contract</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Working_Hours_in_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Working_Schedule_Day.Hours__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>timeSheetDayOfWeek</name>
        <dataType>String</dataType>
        <expression>CASE(WEEKDAY({!$Record.StartDate}), 
2, &quot;Monday&quot;,
3, &quot;Tuesday&quot;,
4, &quot;Wednesday&quot;,
5, &quot;Thursday&quot;,
6, &quot;Friday&quot;,
7, &quot;Saturday&quot;,
1, &quot;Sunday&quot;,
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>[TimeSheet] - Record Trigger - Set Contract Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TimeSheet] - Record Trigger - Set Contract Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Working_Schedule_Day</name>
        <label>Get Working Schedule Day</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Working_Hours_in_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_of_Week__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>timeSheetDayOfWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResource.Work_Schedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Schedule_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Working_Schedule_Day</targetReference>
        </connector>
        <object>TimeSheet</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
