force-app/main/default/flows/User_After_Update_RecordTrigered_Create_Service_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Permission_Set_Assignment_Collection</name>
        <label>Add to Permission Set Assignment Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSetAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permission_Sets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Permission_Set_License_Assignment_Collection</name>
        <label>Add to Permission Set License Assignment Collection</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetLicenseAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSetLicense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Permission_Set_Licenses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Permission_Sets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Permission_Set_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Permission_Set_License</name>
        <label>Create Permission Set License</label>
        <locationX>264</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetLicense.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetLicense.PermissionSetLicenseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Permission_Set_Licenses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Permission_Set_License_Assignment_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>NameOfUser</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp;&apos; &apos;&amp;{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>[User] [After Update] [RecordTrigered] Create Service Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[User] [After Update] [RecordTrigered] Create Service Resource</label>
    <loops>
        <name>Loop_Permission_Set_Licenses</name>
        <label>Loop Permission Set Licenses</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Permission_Set_Licences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Permission_Set_License</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Platform_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Permission_Sets</name>
        <label>Loop Permission Sets</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Field_Service_Permission_Sets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Permission_Set_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_Set_Assignments</name>
        <label>Create Permission Set Assignments</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Licences</targetReference>
        </connector>
        <inputReference>PermissionSetAssignmentCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Platform_Events</name>
        <label>Create Platform Events</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Operator_Created_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Field_Service_Permission_Sets</name>
        <label>Get Field Service Permission Sets</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Permission_Sets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Service Mobile License</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Service Resource License</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Service Resource Permissions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Licences</name>
        <label>Get Permission Set Licences</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Permission_Set_Licenses</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Service Mobile</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Service Scheduling</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetLicense</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Field_Service_Permission_Sets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Field_Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_Field_Service_Resource__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetLicense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
    <variables>
        <name>PermissionSetLicenseAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetLicenseAssign</objectType>
    </variables>
</Flow>
