force-app/main/default/flows/Van_After_Save_Record_Triggered_Assign_Van_to_Lead_Crew_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Lead_Van_Crew_Member_Found</name>
        <label>Lead Van Crew Member  Found ?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lead_Van_Crew_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Van_Field_on_Related_Service_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow populates the Van field on the service resource record of the lead van crew member, allowing him to log the products consumed.</description>
    <environments>Default</environments>
    <interviewLabel>[Van][After-Save][Record-Triggered] Assign Van to Lead Crew Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Van][After-Save][Record-Triggered] Assign Van to Lead Crew Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Lead_Van_Crew_Member</name>
        <label>Get Related Lead Van Crew Member</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Van_Crew_Member_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceCrewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Van_Crew__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLeader</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceCrewMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Van_Field_on_Related_Service_Resource</name>
        <label>Update Van Field on Related Service Resource</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Lead_Van_Crew_Member.ServiceResourceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Lead_Van_Crew_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Van_Crew__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
