force-app/main/default/flows/Work_Order_After_Save_Record_Triggered_Assign_Work_Order_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items_And_Create_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_WOLI_Values</name>
        <label>Set WOLI Values</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderLine.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLine.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Items_And_Create_WOLI.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderLine.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Work Order][After-Save][Record-Triggered] Assign Work Order Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Order][After-Save][Record-Triggered] Assign Work Order Lines</label>
    <loops>
        <name>Loop_Items_And_Create_WOLI</name>
        <label>Loop Items And Create WOLI</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Asset_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_WOLI_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Work_Order_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order_Lines</name>
        <label>Create Work Order Lines</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>WorkOrderLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Items</name>
        <label>Get Asset Items</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Items_And_Create_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WorkOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
