force-app/main/default/flows/Work_Order_Screen_Flow_Create_Internal_Work.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Default_Department_Variable</name>
        <label>Set Default Department Variable</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>departmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outdoor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_for_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Department_Variable</name>
        <label>Set Department Variable</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>departmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outdoor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_for_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Department_Variable_Indoor</name>
        <label>Set Department Variable Indoor</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>departmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Indoor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_for_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Order_Values</name>
        <label>Set Work Order Values</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>workOrder.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workOrderSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrder.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_for_Work_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrder.Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Krinkels_Internal_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workOrder.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Service_Resource_Type</name>
        <label>Check Service Resource Type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Department_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Outdoor_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landscaping - Billing plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Department_Variable</targetReference>
            </connector>
            <label>Is Outdoor Resource</label>
        </rules>
        <rules>
            <name>Is_Indoor_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indoor - Billing plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Department_Variable_Indoor</targetReference>
            </connector>
            <label>Is Indoor Resource</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>InternalWorkTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Absence__c</picklistField>
        <picklistObject>ResourceAbsence</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>assetNameForQuery</name>
        <dataType>String</dataType>
        <expression>{!Select_Internal_Work_Type} &amp; &quot; - &quot; &amp; {!departmentType}</expression>
    </formulas>
    <formulas>
        <name>workOrderSubject</name>
        <dataType>String</dataType>
        <expression>IF(
{!Machine_Vehicle_Number} &lt;&gt; &apos;&apos;,
{!Select_Internal_Work_Type} &amp; &quot; - &quot; &amp; {!Machine_Vehicle_Number} &amp;  &quot; - &quot; &amp; {!Get_Service_Resource.Name},
{!Select_Internal_Work_Type} &amp; &quot; - &quot; &amp; {!Get_Service_Resource.Name}
)</expression>
    </formulas>
    <interviewLabel>[Work Order] - [Screen Flow] - Create Internal Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Internal Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assigned_Resource</name>
        <label>Create Assigned Resource</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <inputReference>workOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_for_Work_Order</name>
        <label>Get Asset for Work Order</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetNameForQuery</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Krinkels_Internal_Account</name>
        <label>Get Krinkels Internal Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Resource_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Krinkels Internal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Krinkels_Internal_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Operator.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Work_Order_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal Production Work</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Create_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>Scheduled_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>Scheduled_Start</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>End_Screen</name>
        <label>End</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Work Order and Service Appointment created. You can close this screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ServiceAppointment</name>
        <label>ServiceAppointment</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>ServiceAppointment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ServiceAppointment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Start</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Start</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ServiceAppointment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_End</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>End</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled End</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Initial_Screen</name>
        <label>Work Order Initial Screen</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <fields>
            <name>Work_Order_Initial_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Order_Initial_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Internal_Work_Type</name>
                    <choiceReferences>InternalWorkTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Internal Work Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Work_Order_Initial_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Operator</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ServiceResourceId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Operator</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>AssignedResource</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>resourceId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Work_Order_Initial_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Order_Initial_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>startDate</elementReference>
                    </defaultValue>
                    <fieldText>Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Machine_Vehicle_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Machine/Vehicle Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Internal_Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Machine Maintenance</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Internal_Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Medical Examination</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Work_Order_Initial_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>endDate</elementReference>
                    </defaultValue>
                    <fieldText>End</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Work_Order_Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>departmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
