force-app/main/default/flows/Work_Order_After_Save_Record_Triggered_Assign_Products_Consumed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>productConsumedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Material_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ProductConsumed</name>
        <label>Set ProductConsumed</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>productConsumed.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productConsumed.ProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Material_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productConsumed.QuantityConsumed</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Work Order][After-Save][Record-Triggered] Assign Products Consumed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Order][After-Save][Record-Triggered] Assign Products Consumed</label>
    <loops>
        <name>Loop_Material_Items</name>
        <label>Loop Material Items</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Material_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ProductConsumed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Products_Consumed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Products_Consumed</name>
        <label>Create Products Consumed</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputReference>productConsumedCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Crew_Resource</name>
        <label>Get Assigned Crew Resource</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Material_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Resource_Is_A_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Material_Items</name>
        <label>Get Material Items</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Material_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assigned_Crew_Resource.ServiceResource.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Temporary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Crew_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Production_Work__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>productConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>productConsumedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
</Flow>
