force-app/main/default/flows/Work_Order_Mobile_Flow_Screen_Flow_Log_LMRA_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Full</name>
        <choiceText>Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited</name>
        <choiceText>Limited</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Full_or_Limited_LMRA</name>
        <label>Full or Limited LMRA ?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Limited_LMRA_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Limited</defaultConnectorLabel>
        <rules>
            <name>Full_Full_or_Limited_LMRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderRecord.LMRA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_LMRA_Information</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>LMRA_Already_Done</name>
        <label>LMRA Already Done ?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>LMRA_Done_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderRecord.LMRA_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_or_Limited_LMRA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Work Order][Mobile Flow][Screen-Flow] Log LMRA Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Order][Mobile Flow][Screen-Flow] Log LMRA Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Full_LMRA</name>
        <label>Create Full LMRA</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Confirmed_LMRA_Done_at_WO_level</targetReference>
        </connector>
        <inputAssignments>
            <field>Corrective_Measures__c</field>
            <value>
                <elementReference>Corrective_Measures</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date_Full</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EPC_EPI_CBM_PBM__c</field>
            <value>
                <elementReference>EPC_EPI_CBM_PBM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMRA_Type__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Lead__c</field>
            <value>
                <elementReference>Project_Lead_Full</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surrounding_Risks__c</field>
            <value>
                <elementReference>Surrounding_Risks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tasks_of_the_Day__c</field>
            <value>
                <elementReference>Tasks_of_the_Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LMRA__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Limited_LMRA</name>
        <label>Create Limited LMRA</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Confirmed_LMRA_Done_at_WO_level</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date_Lmited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMRA_Type__c</field>
            <value>
                <stringValue>Limited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Lead__c</field>
            <value>
                <elementReference>Project_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LMRA__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Work_Order</name>
        <label>Get Related Work Order</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LMRA_Already_Done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>LMRA__c</queriedFields>
        <queriedFields>LMRA_Done__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step_Information</name>
        <label>Get Work Step Information</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Confirmed_LMRA_Done_at_WO_level</name>
        <label>Confirmed LMRA Done at WO level</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LMRA_Done__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_Status_to_Complete</name>
        <label>Update Work Step Status to Complete</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Full_LMRA_Information</name>
        <label>Full LMRA Information</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Full_LMRA_Information_Part_Two</targetReference>
        </connector>
        <fields>
            <name>FullLMRATitle</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Full LMRA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Full</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderRecord.WorkOrderNumber</elementReference>
            </defaultValue>
            <fieldText>Work Order</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Full</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Lead_Full</name>
            <dataType>String</dataType>
            <fieldText>Project Lead</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Full_LMRA_Information_Part_Two</name>
        <label>Full LMRA Information - Part Two</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Full_LMRA</targetReference>
        </connector>
        <fields>
            <name>FullLMRATitleTwo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Full LMRA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tasks_of_the_Day</name>
            <fieldText>Tasks of the Day</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Surrounding_Risks</name>
            <fieldText>Surrounding Risks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Corrective_Measures</name>
            <fieldText>Corrective Measures</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EPC_EPI_CBM_PBM</name>
            <fieldText>EPC - EPI/CBM - PBM</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Limited_LMRA_Information</name>
        <label>Limited LMRA Information</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Limited_LMRA</targetReference>
        </connector>
        <fields>
            <name>LimitedLMRATitle</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Limited LMRA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LmitedLMRAMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 24, 24); font-size: 14px;&quot;&gt;Don&apos;t forget your LMRA, avoid accidents!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderRecord.WorkOrderNumber</elementReference>
            </defaultValue>
            <fieldText>Work Order</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Lmited</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Lead</name>
            <dataType>String</dataType>
            <fieldText>Project Lead</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LMRA_Done_Message</name>
        <label>LMRA Done Message</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Work_Step_Status_to_Complete</targetReference>
        </connector>
        <fields>
            <name>LMRADoneMessage</name>
            <fieldText>&lt;p&gt;LMRA already done for this work order at this location. You can continue with your tasks.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Step_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
