force-app/main/default/flows/Work_Order_Mobile_Flow_Screen_Flow_Log_LMRA_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Tasks_Of_Day_Value</name>
        <label>Set Tasks Of Day Value</label>
        <locationX>633</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>tasksOfDay</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!workLineLoopVar.Description}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lines</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Full</name>
        <choiceText>Full</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full</stringValue>
        </value>
    </choices>
    <choices>
        <name>Limited</name>
        <choiceText>Limited</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Full_or_Limited_LMRA</name>
        <label>Full or Limited LMRA ?</label>
        <locationX>248</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Limited_LMRA_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Limited</defaultConnectorLabel>
        <rules>
            <name>Full_Full_or_Limited_LMRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedAccount.LMRA_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_LMRA_Information</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>Limited_LMRA_Confirmed</name>
        <label>Limited LMRA Confirmed ?</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Limited_LMRA_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Limited_LMRA_Done</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Limited_LMRA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LMRA_Already_Done</name>
        <label>LMRA Already Done ?</label>
        <locationX>545</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>LMRA_Done_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>workOrderRecord.LMRA_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_or_Limited_LMRA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Work Order][Mobile Flow][Screen-Flow] Log LMRA Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Order][Mobile Flow][Screen-Flow] Log LMRA Information</label>
    <loops>
        <name>Loop_Lines</name>
        <label>Loop Lines</label>
        <locationX>545</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>workLineLoopVar</assignNextValueToReference>
        <collectionReference>workOrderLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Tasks_Of_Day_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LMRA_Already_Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Full_LMRA</name>
        <label>Create Full LMRA</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Update_Work_Step_Status_to_Complete_After</targetReference>
        </connector>
        <inputAssignments>
            <field>Corrective_Measures__c</field>
            <value>
                <elementReference>Corrective_Measures_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EPC_EPI_CBM_PBM__c</field>
            <value>
                <elementReference>EPC_EPI_CBM_PBM_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMRA_Type__c</field>
            <value>
                <stringValue>Full</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Lead__c</field>
            <value>
                <elementReference>Project_Lead_Full</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surrounding_Risks__c</field>
            <value>
                <elementReference>Surrounding_Risks_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tasks_of_the_Day__c</field>
            <value>
                <elementReference>Tasks_of_the_Day_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LMRA__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Limited_LMRA</name>
        <label>Create Limited LMRA</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Work_Step_Status_to_Complete_After</targetReference>
        </connector>
        <inputAssignments>
            <field>LMRA_Type__c</field>
            <value>
                <stringValue>Limited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Limited_LMRA_Done__c</field>
            <value>
                <elementReference>Limited_LMRA_Done</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LMRA__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Operational_Account</name>
        <label>Get Related Operational Account</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RelatedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LMRA_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Work_Order</name>
        <label>Get Related Work Order</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>LMRA__c</queriedFields>
        <queriedFields>LMRA_Done__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Lines</name>
        <label>Get Work Lines</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Operational_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>workOrderLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step_Information</name>
        <label>Get Work Step Information</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Confirmed_LMRA_Done_at_WO_level</name>
        <label>Confirmed LMRA Done at WO level</label>
        <locationX>248</locationX>
        <locationY>1682</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LMRA_Done__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_Status_to_Complete</name>
        <label>Update Work Step Status to Complete</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step_Status_to_Complete_After</name>
        <label>Update Work Step Status to Complete After</label>
        <locationX>248</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Confirmed_LMRA_Done_at_WO_level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkStepRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Full_LMRA_Information</name>
        <label>Full LMRA Information</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Full_LMRA</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://krinkelsgreencare--upeodev.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068KF000001eO36?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;LMRA_Header.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Full</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderRecord.WorkOrderNumber</elementReference>
            </defaultValue>
            <fieldText>Work Order</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Lead_Full</name>
            <dataType>String</dataType>
            <fieldText>Project Lead</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_to_use_a_thermal_burner_because_there_is_no_alternative</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have to use a thermal burner (because there is no alternative?)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tasks_of_the_Day_1</name>
            <defaultValue>
                <stringValue>{!tasksOfDay}</stringValue>
            </defaultValue>
            <fieldText>Tasks of the Day</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Surrounding_Risks_1</name>
            <fieldText>Surrounding Risks</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Corrective_Measures_1</name>
            <fieldText>Corrective Measures</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EPC_EPI_CBM_PBM_1</name>
            <fieldText>EPC - EPI/CBM - PBM</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkStepRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Limited_LMRA_Information</name>
        <label>Limited LMRA Information</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Limited_LMRA_Confirmed</targetReference>
        </connector>
        <fields>
            <name>LmitedLMRAMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(11, 11, 11);&quot;&gt;Don&apos;t forget your LMRA, avoid accidents!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Limited_LMRA_Done</name>
            <dataType>Boolean</dataType>
            <fieldText>Limited LMRA Done</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmedLMRA</name>
            <fieldText>&lt;p&gt;&lt;em&gt;To confirm that a limited LMRA has been done, please tick the box.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LMRA_Done_Message</name>
        <label>LMRA Done Message</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Work_Step_Status_to_Complete</targetReference>
        </connector>
        <fields>
            <name>LMRADoneMessage</name>
            <fieldText>&lt;p&gt;LMRA already done for this work order at this location. You can continue with your tasks.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Step_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>tasksOfDay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workLineLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>workOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>workOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
