force-app/main/default/flows/Work_Order_After_Save_Record_Triggered_Add_WOL_As_Work_Steps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Increment_Order</name>
        <label>Increment Order</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>IncrementOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_WOL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Work_Steps</name>
        <label>Set Values for Work Steps</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>WorkStepRecord.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_WOL.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepRecord.WorkPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Plan_Information.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepRecord.Work_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_WOL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepRecord.ExecutionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepRecord.ActionDefinition</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkStep.Set_Service_Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStepCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkStepRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WOL_presents</name>
        <label>WOL presents ?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WOL_presents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOL</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_WOL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Plan_Present</name>
        <label>Work Plan Present  ?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Work_Plan_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Plan_Information.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Before_Work_Photos_Step_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextNumber</name>
        <dataType>Number</dataType>
        <expression>{!BeforePhotosOrder} + {!IncrementOrder}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Work Order][After-Save][Record-Triggered] Add WOL As Work Steps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Order][After-Save][Record-Triggered] Add WOL As Work Steps</label>
    <loops>
        <name>Loop_Through_WOL</name>
        <label>Loop Through WOL</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_WOL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values_for_Work_Steps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Work_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Work_Steps</name>
        <label>Create New Work Steps</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Create_Platform_Event_to_Reorder_Last_Steps</targetReference>
        </connector>
        <inputReference>WorkStepCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Platform_Event_to_Reorder_Last_Steps</name>
        <label>Create Platform Event to Reorder Last Steps</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <inputAssignments>
            <field>Next_Number__c</field>
            <value>
                <elementReference>NextNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Reorder_Work_Step__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Before_Work_Photos_Step_Information</name>
        <label>Get Before Work Photos Step Information</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WOL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Take Before Work Photos</stringValue>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>BeforePhotosOrder</assignToReference>
            <field>ExecutionOrder</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WOL</name>
        <label>Get WOL</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOL_presents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Plan_Information</name>
        <label>Get Work Plan Information</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Plan_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Plan_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Depot Visit</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BeforePhotosOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>IncrementOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorkStepCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
