force-app/main/default/flows/Work_Order_After_Save_Record_Triggered_Unassign_Products_Consumed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Result</name>
        <label>Check Result</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Products_Consumed_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products_Consumed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Products_Consumed</targetReference>
            </connector>
            <label>Products Consumed Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Work Order][After-Save][Record-Triggered] Unassign Products Consumed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Order][After-Save][Record-Triggered] Unassign Products Consumed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Products_Consumed</name>
        <label>Delete Products Consumed</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>Get_Products_Consumed</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Products_Consumed</name>
        <label>Get Products Consumed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products_Consumed</targetReference>
        </connector>
        <filterFormula>(TEXT({!$Record__Prior.Status}) = &apos;Scheduled&apos; &amp;&amp; TEXT({!$Record.Status}) = &apos;Unscheduled&apos;) ||
(TEXT({!$Record__Prior.Status}) = &apos;Dispatched&apos; &amp;&amp; TEXT({!$Record.Status}) = &apos;Unscheduled&apos;) ||
(TEXT({!$Record__Prior.Status}) = &apos;Dispatched&apos; &amp;&amp; TEXT({!$Record.Status}) = &apos;Scheduled&apos;)</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
