force-app/main/default/flows/Work_Order_Mobile_Flow_Screen_Flow_Log_Mileage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Mileage_Values</name>
        <label>Set Mileage Values</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MileageEntryRecord.Starting_Mileage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Starting_Kilometers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MileageEntryRecord.Ending_Mileage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ending_Kilometers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MileageEntryRecord.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStepRecord.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Kilometers</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Work Order][Mobile Flow][Screen-Flow] Log KM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Order][Mobile Flow][Screen-Flow] Log Mileage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Mileage_Entry</name>
        <label>Get Mileage Entry</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_KM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Starting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Time_Sheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>timesheetId</elementReference>
            </value>
        </filters>
        <object>Mileage_Entry__c</object>
        <outputReference>MileageEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Starting_Mileage__c</queriedFields>
        <queriedFields>Ending_Mileage__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Id</name>
        <label>Get Timesheet Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Mileage_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputAssignments>
            <assignToReference>timesheetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>WorkStepRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Kilometers</name>
        <label>Update Kilometers</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Work_Step</targetReference>
        </connector>
        <inputReference>MileageEntryRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Step</name>
        <label>Update Work Step</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkStep</object>
    </recordUpdates>
    <screens>
        <name>Log_KM</name>
        <label>Log KM</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Set_Mileage_Values</targetReference>
        </connector>
        <fields>
            <name>Starting_Kilometers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>MileageEntryRecord.Starting_Mileage__c</elementReference>
            </defaultValue>
            <fieldText>Starting Kilometers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Ending_Kilometers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>MileageEntryRecord.Ending_Mileage__c</elementReference>
            </defaultValue>
            <fieldText>Ending Kilometers</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MileageEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mileage_Entry__c</objectType>
    </variables>
    <variables>
        <name>timesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkStepRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
