force-app/main/default/flows/Work_Step_After_Save_Record_Triggered_Relink_After_Work_Photos_to_WO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Collect_Content_Document_Ids</name>
        <label>Collect Content Document Ids</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Content_Document_Links.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Document_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_FileCounter</name>
        <label>Increment FileCounter</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>FileCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Content_Document_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Files_To_WO</name>
        <label>Link Files To WO</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>RelinkRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Files.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelinkRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelinkRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Document_Collection</name>
        <label>Set Content Document Collection</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Title</name>
        <label>Set Title</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentRecord.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitleFormat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_FileCounter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Files_Retrieved</name>
        <label>Files Retrieved ?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Link</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Content_Document_Links</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TitleFormat</name>
        <dataType>String</dataType>
        <expression>&quot;After Work Photos - &quot; + {!Loop_Through_Content_Document.Title} +&quot;_&quot;+TEXT({!FileCounter})</expression>
    </formulas>
    <interviewLabel>[Work Step][After-Save][Record-Triggered] Relink After Work Photos to WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Work Step][After-Save][Record-Triggered] Relink After Work Photos to WO</label>
    <loops>
        <name>Loop_Through_Content_Document</name>
        <label>Loop Through Content Document</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Content_Document_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Title</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Files_Title_Related_to_WO_Step</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Content_Document_Links</name>
        <label>Loop Through Content Document Links</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Content_Document_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Document_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Files</name>
        <label>Loop Through Files</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_Content_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_Files_To_WO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Files_on_Related_WO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Files_on_Related_WO</name>
        <label>Create Files on Related WO</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <inputReference>RelinkCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document_Information</name>
        <label>Get Content Document Information</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Files_Retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Files_Title_Related_to_WO_Step</name>
        <label>Update Files Title Related to WO Step</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Loop_Through_Files</targetReference>
        </connector>
        <inputReference>ContentDocumentCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Take After Work Photos</stringValue>
            </value>
        </filters>
        <object>WorkStep</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>FileCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RelinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>RelinkRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
